@import "../../../../../so-widgets-bundle/base/less/mixins";

@overlay_color: "";
@overlay_opacity: 0.4;
@title_color: "";
@icon_color: "";
@thumb_size: 50px;

@gutter: 20px;
@margin_bottom: 20px;

@height: 300px;

@tablet_height: 200px;
@mobile_height: 150px;

@tablet_width: 768px;
@mobile_width: 480px;


// if set, add margin to category wrapper
.marginBott(@margin_bottom) when not ( @margin_bottom="" ) {

	.mm_sow-wc-cat-wrapper {

		margin-bottom: @margin_bottom;
	}

}
.marginBott(@margin_bottom);



.mm_sow-wc-cats {

	margin-left: -(@gutter)/2;
	margin-right: -(@gutter)/2;

	.mm_sow-wc-cat {

		height: @height;
		margin: 0 (@gutter)/2 ;

		.mm_sow-wc-cat-text, .mm_sow-icon-wrapper,.mm_sow-image-wrapper {

			height: @height;

		} // .mm_sow-image-wrapper
		
		// Overlay color conditional and option
		.overlayColor(@overlay_color) when not ( @overlay_color="" ) {

			.mm_sow-image-overlay {
				background-color: @overlay_color !important;
			}

		}
		.overlayColor(@overlay_color);
		
		.mm_sow-image-overlay {
			opacity: @overlay_opacity;
		}

        .mm_sow-title a {
            strong {
                text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
            }
        }

		
        // Title color conditional and option
		.titleColor(@title_color) when not ( @title_color="" ) {
			.mm_sow-wc-cat-text {

				.mm_sow-title a {
					color: @title_color !important;
				}

			}
			
		}
		.titleColor(@title_color);
		
        // Icon color conditional and option
		.iconColor(@icon_color) when not ( @icon_color="" ) {


			.mm_sow-icon-wrapper span {
				color: @icon_color !important;
			}
			
		}
		.iconColor(@icon_color);
		
		
		
		// Media queries - categories height
		@media screen and ( max-width: @tablet_width ) {
			height: @tablet_height;
			.mm_sow-wc-cat-text, .mm_sow-icon-wrapper,.mm_sow-image-wrapper {
				height: @tablet_height;
			}
			
		}
		@media screen and (max-width: @mobile_width) {
			height: @mobile_height;
			.mm_sow-wc-cat-text, .mm_sow-icon-wrapper,.mm_sow-image-wrapper {
				height: @mobile_height;
			}
		}

	}

}
// Style 4
.mm_sow-wc-cats.mm_sow-style4 {

	margin-left: 0;
	margin-right: 0;

	.product_cat-list {
		li {
			a {
				img {
					width:@thumb_size;
				}

			}
		}
	}

}
.mm_sow-wc-cat-details {

	padding: 0 (@gutter)/2 @gutter;

}
